=form_for @seed, :html => {:class => "form-horizontal center"} do |f|
  .form-group
    %h3 Seed planting time!
    =f.label "Title"
    =f.text_field :title, class: "form-control"
    %br
    =f.label "Creator"
    =f.text_field :creator, class: "form-control"
    %br
    =f.label "Image_Url"
    =f.text_field :image_url, class: "form-control"
    %br
    =f.label "Description"
    =f.text_area :description, class: "form-control"
    %br
    =f.label "Tags"
    =f.text_field :tags, class: "form-control"
    %br
    =f.label "% of Volunteer asked"
    =f.number_field :volunteers, class: "form-control"
    %br
    =f.label "% of Money asked"
    =f.text_field :money, class: "form-control"
    %br
    =f.label "School"
    =f.text_field :organization, class: "form-control"
    %br
    =f.label "Days Left"
    =f.text_field :time_limit, class: "form-control"
    %br
    =f.label "Votes"
    =f.text_field :votes, class: "form-control"
    %br
    %button.btn.btn-primary submit
