%head
  %link{:href => "custom.css", :rel => "stylesheet", :type => "text/css"}/

#myCarousel.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
  .carousel-inner
    .item.active
      =image_tag("carousel.png")
      .container
        .carousel-caption
          %h1 Cultivate Youth Leadership in Your Community
          %p
            %a.btn.btn-lg.btn-primary{:href => "#", :role => "button"} Learn More!

%br
%br
%ul.nav.nav-tabs{:role => "tablist"}
  %li.active
    %a{:href => "#"} Seeds
  %li
    %a{:href => "#"} Sprouts
  %li
    %a{:href => "#"} My Garden
  %li
    %a{:href => "#"} Saved Seeds
%h1.text-center Current Sprouts
%br
-@seeds.each do |seed|

  .col-sm-6.col-md-3
    .thumbnail
      %a{:href => "seeds/#{seed.id}"}
        %img{:alt => "some_text", :width => "300", :height => "300", :src => seed.image_url}/
      %h4
        =seed.title
      %p="by #{seed.creator}"

      %p= seed.description[0..100]+"..."
      %br
      =seed.votes

:javascript
