%head
  %link{:href => "custom.css", :rel => "stylesheet", :type => "text/css"}/

%ul.nav.nav-tabs{:role => "tablist"}
  %li.active
    %a{:href => "#"} Seeds
  %li
    %a{:href => "#"} Sprouts
  %li
    %a{:href => "#"} My Garden
  %li
    %a{:href => "#"} Saved Seeds
%hr
%hr
%h1.text-center Current Sprouts
%br
-@seeds.each do |seed|

  .col-sm-6.col-md-3
    .thumbnail
      =seed.tags.upcase!
      %br
      %a{:href => "seeds/1"}
        %img{:alt => "some_text", :width => "300", :height => "300", :src => seed.image_url}/
      %br
      =seed.title
      %br
      =seed.description[0..100]+"..."
      %br

:javascript
