%ul.nav.nav-tabs{:role => "tablist"}
  %li.active
    %a{:href => "#"} Seeds
  %li
    %a{:href => "#"} Sprouts
  %li
    %a{:href => "#"} My Garden
  %li
    %a{:href => "#"} Saved Seeds
%hr
%hr
%h1.text-center Current Sprouts
%br
-@seeds.each do |seed|

  .col-sm-4
    .well.well-lg
      =seed.tags.upcase!
      %br
      %img{:alt => "some_text", :width => "200", :height => "200", :src => seed.image_url}/
      %br
      =seed.title
      %br
      =seed.description[0..100]+"..."
      %br

:javascript
