.container
  .page-header
    %h1.text-center
      =@seed.title
      %small
        ="by #{@seed.creator}"
  %h6 Gardeners
  .progress
    .progress-bar.progress-bar-success.progress-bar-striped{"aria-valuemax" => "100", "aria-valuemin" => "00", "aria-valuenow" => "55", :role => "progressbar", :style => "width: 40%"}
      %span.sr-only 55% Complete (success)
  %h6 Water
  .progress
    .progress-bar.progress-bar-success.progress-bar-striped{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 40%"}
      %span.sr-only 40% Complete (success)

  %dl.dl-horizontal
    %dt
      Championed by:
    %dd
      = @seed.creator
    %dt
      Sponsored by:
    %dd Walter White
    %dt Due Date:
    %dd October 31, 2014
    %dt School:
    %dd J. P. Wynne High School

  .row
    .col-xs-6.col-md-3
      %a.thumbnail{:href => "#"}
        %img.img-rounded{:alt => "oh hai", :src => "images/placeholder-90x90.png"}

  %h5 About this Seed
  .panel.panel-default
    .panel-body
      =@seed.description
