.container
  .row
    .col-md-9
    .col-md-3
      .well.sidebar-nav
        %h3 Sidebar
        %ul.nav.nav-list
          %li.nav-header Sidebar
          %li= link_to "Seed", "#"
          %li= link_to "Updates", "#"
          %li= link_to "Comments", "#"
          %li= link_to "Members", "#"

