.container
  .row
    .col-md-9
      %h3=@seed.title
    .col-md-3
      .well.sidebar-nav
        %ul.nav.nav-list
          %li.nav-header 
          %li= link_to "Seed", "#"
          %li= link_to "Updates", "#"
          %li= link_to "Comments", "#"
          %li= link_to "Members", "#"

